@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;400;600&family=Varela+Round&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-logo {
  font-family: Lobster, sans-serif;
  font-size: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-areas: "profile header" "sidebar content" "sidebar content";
  grid-template-rows: 150px auto;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #3ffbe0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fef500;
  display: grid;
  grid-auto-rows: 50px;
  row-gap: 2rem;
}

.sidebar .item {
  display: grid;
  align-items: center;
  justify-content: center;
}

.sidebar .item-active {
  background-color: darkorange;
}

.content {
  grid-area: content;
  background-color: #18c729;
}

.filters {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
}

.filters-list {
  display: none;
}

.table {
  display: grid;
  background-color: #ebecf0;
  border-radius: 10px;
  grid-auto-rows: 50px;
}

.row,
.title {
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px solid #d3d3d3;
  grid-auto-columns: 1fr;
}

.title {
  border-top: 1px solid #d3d3d3;
}

.column,
.title-column {
  border-left: 1px solid #d3d3d3;
}

.title-column {
  text-transform: capitalize;
}

.row:hover {
  background-color: #d3d3d3;
  border-radius: 10px;
}

.row-focused {
  background-color: #d3d3d3;
  border-radius: 10px;
}

.button,
.icon-button {
  cursor: pointer;
}

.button {
  background-color: #8e4585;
  border: none;
  font: inherit;
  color: #fff;
  border-radius: 10px;
}

.icon-button {
  background: none;
  border: none;
  color: #808080;
}

.checkbox {
  transform: scale(1.2);
  accent-color: #808080;
}

.select {
  font: inherit;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container .icon {
  position: absolute;
}

.input-container .text-input {
  padding-left: 1.5rem;
  background: transparent;
  border: none;
}

.text-input {
  font: inherit;
}

.text-input:focus {
  outline: none;
}

.profile {
  grid-area: profile;
  background-color: #f3ff77;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
